<div ng-controller="IndexController as index">
  <div class="form-group">
    <label>index</label>
    <input class="form-control" ng-model="index.dir"/>
  </div>

  <table class="table table-striped">
    <tr ng-repeat="elem in index.elements">
      <td>{{ elem.name }}</td>
      <td ng-if="elem.photo">
        <a ng-href="http://kari.dy.fi/album/{{elem.path}}" target="_blank">
          <img ng-src="thumb/{{elem.path}}" height="100"/>
<!--          <%= image_tag 'gi_album/spinner.svg', height: 100, width: 100 %> -->
        </a>
      </td>
      <td ng-if="!elem.photo">
        <a ng-click="index.changeDir(elem.path)">
          <%= image_tag 'gi_album/material/folder.svg', height: 100 %>
        </a>
      </td>
    </tr>
  </table>
</div>
