<div>
  <table st-table="displayedElements" st-safe-src="index.elements" class="table table-striped">
    <thead>
      <tr>
	<td colspan="2" class="text-center">
	  <div st-pagination=""
               st-items-by-page="20"
               st-displayed-pages="10"
               st-template="gi_album/album/pagination">
          </div>
	</td>
      </tr>
      <tr>
	<th colspan="2">
          <input st-search="" class="form-control" placeholder="search ..." type="text"/>
        </th>
      </tr>
    </thead>

    <tr>
      <td colspan="2">
        <div class="gi-thumb gi-thumb-dir"
             ng-if="index.dir.length > 1"
             ng-click="index.goUp(index.dir)">
             <%= image_tag 'gi_album/material/keyboard-backspace.svg', class: 'gi-thumb-image' %>
        </div>

        <div class="gi-thumb"
             ng-class="{'gi-thumb-photo':elem.photo, 'gi-thumb-dir':!elem.photo}"
             ng-repeat="elem in displayedElements track by elem.name">

          <div ng-if="!elem.photo"
               ng-click="index.goDir(elem.path)">
            <%= image_tag 'gi_album/material/folder.svg', class: 'gi-thumb-image' %>
            <div class="gi-thumb-info">
              <span>{{ elem.name }}</span>
            </div>
          </div>

          <div ng-if="elem.photo">
            <a ng-href="http://kari.dy.fi/album/{{elem.path}}" target="_blank">
              <img class="gi-thumb-image" ng-src="thumb/{{elem.path}}""/>
              <!--          <%= image_tag 'gi_album/spinner.svg', height: 100, width: 100 %> -->
            </a>
            <div class="gi-thumb-info">
              <span>{{ elem.name }}</span>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tfoot>
      <tr>
	<td colspan="2" class="text-center">
	  <div st-pagination=""
               st-items-by-page="20"
               st-displayed-pages="10"
               st-template="gi_album/album/pagination">
          </div>
	</td>
      </tr>
    </tfoot>
  </table>
</div>
