/*
 * HACK KI show scrollbar always to avoid jumping (not very optimal solution, but
 * should temporarily fix flickering)
 */
html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

gi-table-fixed {
  table-layout: fixed;
}

gi-table-fixed th:nth-child(1), td:nth-child(1) {
  overflow: hidden;
  width: 50%;
}
gi-table-fixed th:nth-child(2), td:nth-child(2) {
  overflow: hidden;
  width: 50%;
}

.gi-btn-pagination {
  width: 3em;
}

.gi-thumb {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  width: 20em;
}

.gi-thumb-info {
  font-size: 0.8em;
  vertical-align: center;
  display: inline-block;
  width: 40%;
}

.gi-thumb:hover {
  background-color: #aceace;
}

.gi-thumb-dir {
  border-color: transparent;
  border-style: solid;
  border-width: 0.1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  cursor: pointer;
}

.gi-thumb-dir:hover {
  border-color: lightgray;

  transition-duration: 0.3s;
}

.gi-thumb-photo {
  background-color: #dedede;

  border-style: solid;
  border-width: 0.1em;
  border-color: lightgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 25px;
}

.gi-thumb-photo:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 5px;

  transition-duration: 0.2s;
}

.gi-thumb-image {
  height: 100px;
}
