/*
 * HACK KI show scrollbar always to avoid jumping (not very optimal solution, but
 * should temporarily fix flickering)
 */
html {
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

.gi-btn-pagination {
  width: 3em;
}

.gi-thumb {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 5px;
  width: 280px;
  height: 140px;
}

.gi-thumb-info {
  font-size: 0.8em;
  vertical-align: center;
  display: inline-block;
  width: 40%;
}

.gi-thumb:hover {
  background-color: #aceace;
}

.gi-thumb-dir {
  border-color: transparent;
  border-style: solid;
  border-width: 0.1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  cursor: pointer;
}

.gi-thumb-dir:hover {
  border-color: lightgray;

  transition-duration: 0.3s;
}

.gi-thumb-photo {
  background: url(image_path('filmstrip.png'));
  background-size: 140px 140px;
  background-color:rgba(0, 0, 0, 0.5);

  width: 140px;
}

.gi-thumb-photo2 {
  background-color: #dedede;

  border-style: solid;
  border-width: 0.1em;
  border-color: lightgray;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 25px;
}

.gi-thumb-photo:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 5px;

  transition-duration: 0.2s;
}

.gi-thumb-image {
  height: 100px;
}
